:root {
  --main-green: #00392c;
  --main-white: #fbfdfa;
  --main-yellow: #ffff00;
}

@font-face {
  font-family: "Cobe";
  src: url("../assets/fonts/Cobe/Cobe-Regular.ttf");
}

@font-face {
  font-family: "Cobe Heavy";
  src: url("../assets/fonts/Cobe/Cobe-Heavy.ttf");
}

@font-face {
  font-family: "Cobe Semibold";
  src: url("../assets/fonts/Cobe/Cobe-SemiBold.ttf");
}

@font-face {
  font-family: "Cobe HeavyItalic";
  src: url("../assets/fonts/Cobe/cobe-heavy-italic.ttf");
}

@font-face {
  font-family: "Poppins";
  src: url("../assets/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Light";
  src: url("../assets/fonts/Poppins/Poppins-Light.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--main-white);
}

a {
  text-decoration: none;
}

body {
  max-width: 1920px;
  margin: auto;
  display: flex;
  justify-content: center;
  padding: 0% 5%;
  margin-bottom: 1000px;
  background-color: var(--main-green);
  font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
}

.yellow {
  color: var(--main-yellow);
}

/* ============== NAVBAR ============== */

nav {
  max-width: 1920px;
  width: 100%;
  padding: 0% 5%;
  position: fixed;
  justify-content: center;
  align-items: center;
  background-color: #01261e;
  padding-bottom: 10px;
  z-index: 3;
}

nav ul {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1%;
}

nav ul li {
  list-style: none;
  font-family: "Cobe Semibold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.8rem;
}

nav ul li a {
  font-family: "Cobe Semibold", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.5rem;
  transition: all 0.4s;
}

nav ul li a:hover {
  opacity: 80%;
}

@media (max-width: 755px) {
  nav ul {
    gap: 0%;
  }

  nav ul li {
    font-size: 1.5rem;
  }

  nav ul li a {
    font-size: 1.1rem;
  }
}

@media (max-width: 510px) {
  nav {
    padding-top: 3px;
  }

  nav ul li {
    font-size: 1.2rem;
  }

  nav ul li a {
    font-size: 0.8rem;
  }
}

@media (max-width: 380px) {
  /* MENU HAMBURGUER */
}

/* ============== MAIN ============== */

main {
  display: flex;
  flex-direction: column;
  gap: 200px;

  /* background-image: url("../assets/images/FOTO\ logo\ em\ baixo\ de\ SESSIONS.png");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top; */
}

/* ============== SECTION HOME ============== */

#home {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

h1 {
  font-family: "Cobe HeavyItalic", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 3.5rem;
}

.logoAndDescription {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.logo {
  max-width: 400px;
}

.description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 25px;
}

.description h2 {
  font-weight: 500;
  font-size: 2.5rem;
}

.bttnFreeTrial {
  background-color: rgba(0, 0, 0, 0.344);
  padding: 7px 20px;
  border-radius: 20px;
  line-height: 25px;
}

.description a {
  font-size: 1.2rem;
  font-family: "Cobe", Verdana, Geneva, Tahoma, sans-serif;
}

.description a p strong {
  font-weight: bolder;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
}

.description a p span {
  font-weight: bolder;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
}

#home h3 {
  font-weight: normal;
  background-color: rgba(0, 0, 0, 0.107);
  padding: 12px 50px;
  border-radius: 15px;
}

@media (max-width: 810px) {
  .logoAndDescription {
    flex-direction: column;
    gap: 40px;
  }

  .logo {
    margin-left: -150px;
  }
}

@media (max-width: 670px) {
  h1 {
    font-size: 3rem;
  }
}

@media (max-width: 565px) {
  h1 {
    font-size: 2.5rem;
  }

  .description h2 {
    font-size: 2rem;
  }

  .logo {
    max-width: 300px;
    margin-left: -120px;
  }
}

@media (max-width: 470px) {
  h1 {
    font-size: 2.2rem;
  }

  .description h2 {
    font-size: 1.7rem;
  }

  .logo {
    max-width: 300px;
    margin-left: -100px;
  }
}

@media (max-width: 390px) {
  h1 {
    font-size: 2rem;
  }

  .description h2 {
    font-size: 1.5rem;
  }

  .logo {
    max-width: 250px;
    /* margin-left: -120px; */
  }
}

/* ============== SECTION COACH ============== */

#coach {
  margin: auto;
  max-width: 900px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.aboutMe {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: -50px;
}

.about {
  font-size: 1.5rem;
  font-weight: normal;
  font-family: "Poppins Light", Verdana, Geneva, Tahoma, sans-serif;
}

.coachName {
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
  font-size: 6rem;
}

.paoloCianciName {
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -33px;
  font-size: 2.5rem;
}

.imgPaoloCianci {
  max-width: 400px;
}

.curriculum {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.curriculum p {
  font-size: 0.8rem;
}

@media (max-width: 810px) {
  #coach {
    flex-direction: column;
    gap: 40px;
  }
}

@media (max-width: 420px) {
  .imgPaoloCianci {
    max-width: 300px;
  }

  .about {
    font-size: 1.3rem;
  }

  .coachName {
    font-size: 5rem;
  }

  .paoloCianciName {
    margin-top: -20px;
    font-size: 2rem;
  }
}

/* ============== SECTION SESSIONS ============== */

#sessions {
  margin: auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  text-align: center;
}

.sessionsTitle {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: end;
}

.sessionsText {
  display: flex;
  flex-direction: column;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
}

.sessionsText h2 {
  font-size: 6rem;
}

.sessionsText h3 {
  margin-top: -35px;
  font-size: 3rem;
}

.sessionsImg img {
  max-width: 200px;
  margin-left: -40px;
}

.sessionsDescription p {
  font-size: 2rem;
}

@media (max-width: 755px) {
  .sessionsText h2 {
    font-size: 5rem;
  }

  .sessionsText h3 {
    margin-top: -25px;
    font-size: 2.5rem;
  }

  .sessionsImg img {
    max-width: 170px;
    margin-left: -30px;
  }

  .sessionsDescription p {
    font-size: 1.5rem;
  }
}

@media (max-width: 580px) {
  .sessionsText h2 {
    font-size: 4rem;
  }

  .sessionsText h3 {
    margin-top: -20px;
    font-size: 2rem;
  }

  .sessionsImg img {
    max-width: 130px;
    margin-left: -20px;
  }

  .sessionsDescription p {
    font-size: 1.2rem;
  }
}

@media (max-width: 470px) {
  .sessionsText h2 {
    font-size: 3.5rem;
  }

  .sessionsText h3 {
    margin-top: -20px;
    font-size: 1.7rem;
  }

  .sessionsImg img {
    max-width: 110px;
    margin-left: -20px;
  }

  .sessionsDescription p {
    font-size: 1.1rem;
  }
}

@media (max-width: 300px) {
  .sessionsText h2 {
    font-size: 3.3rem;
  }

  .sessionsText h3 {
    margin-top: -20px;
    font-size: 1.5rem;
  }

  .sessionsImg img {
    max-width: 90px;
    margin-left: -20px;
  }

  .sessionsDescription p {
    font-size: 1rem;
  }
}

/* ============== SECTION PRICING ============== */

#pricing {
  margin: auto;
  max-width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  text-align: center;
}

#pricing {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  padding: 10px 20px 150px 20px;
  border-radius: 30px;
}

.princigTitle h2 {
  font-size: 5rem;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
}

.princigDescription h3 {
  font-size: 2.5rem;
  font-style: italic;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
  margin-top: -20px;
  margin-bottom: 20px;
}

.princigDescription p {
  font-size: 2rem;
}

@media (max-width: 650px) {
  .princigTitle h2 {
    font-size: 4rem;
  }

  .princigDescription h3 {
    font-size: 2rem;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .princigDescription p {
    font-size: 1.5rem;
  }
}

@media (max-width: 525px) {
  .princigTitle h2 {
    font-size: 3.8rem;
  }

  .princigDescription h3 {
    font-size: 1.8rem;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .princigDescription p {
    font-size: 1.4rem;
  }
}

@media (max-width: 470px) {
  .princigTitle h2 {
    font-size: 3.6rem;
  }

  .princigDescription h3 {
    font-size: 1.6rem;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .princigDescription p {
    font-size: 1.3rem;
  }
}

@media (max-width: 420px) {
  .princigTitle h2 {
    font-size: 3.5rem;
  }

  .princigDescription h3 {
    font-size: 1.5rem;
    margin-top: -10px;
    margin-bottom: 20px;
  }

  .princigDescription p {
    font-size: 1.2rem;
  }
}

/* ============== SECTION DAYS FOR TRAINING ============== */

#daysForTraining {
  margin: auto;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0px;
  text-align: center;
}

.divDaysForTraining {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5));
  padding: 40px 80px;
  border-radius: 30px;

  display: flex;
  flex-direction: column;
  gap: 45px;

  margin-top: -40px;
}

.daysForTrainingTitle {
  display: flex;
  flex-direction: column;
}

.daysForTrainingTitle h2 {
  font-size: 3rem;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: -10px;
}

.daysForTrainingDescription {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dayAvailable {
  display: flex;
  flex-direction: column;
}

.dayAvailable h3 {
  font-size: 1.7rem;
  font-family: "Cobe Heavy", Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;

  position: relative;
}

.dayAvailable .timePeriod {
  font-family: "Cobe", Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
  font-size: 0.9rem;
  font-style: italic;
  text-align: start;

  position: absolute;
  top: -12px;
  left: -20px;
}

.dayAndHour {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: -10px;
}

.dayAndHour p {
  font-size: 1.4rem;
  margin-top: 6px;
}

.imgCalendar {
  z-index: 2;
}

.imgCalendar img {
  max-width: 150px;
}

@media (max-width: 650px) {
  .daysForTrainingTitle h2 {
    font-size: 2.5rem;
    margin-bottom: -10px;
  }

  .dayAvailable h3 {
    font-size: 1.5rem;
  }

  .dayAvailable .timePeriod {
    font-size: 0.8rem;
    margin-bottom: -12px;
  }

  .dayAndHour p {
    font-size: 1.2rem;
    margin-top: 2px;
  }

  .imgCalendar img {
    max-width: 130px;
  }
}

@media (max-width: 550px) {
  .daysForTrainingTitle h2 {
    font-size: 2rem;
    margin-bottom: -10px;
  }

  .dayAvailable h3 {
    font-size: 1.2rem;
  }

  .dayAvailable .timePeriod {
    font-size: 0.7rem;
    margin-bottom: -9px;
  }

  .dayAndHour p {
    font-size: 1rem;
    margin-top: 2px;
  }

  .imgCalendar img {
    max-width: 130px;
  }
}

@media (max-width: 470px) {
  .divDaysForTraining {
    padding: 40px 40px;
  }

  .daysForTrainingTitle h2 {
    font-size: 1.8rem;
    margin-bottom: -10px;
  }

  .dayAvailable h3 {
    font-size: 1.2rem;
  }

  .dayAvailable .timePeriod {
    font-size: 0.7rem;
    margin-bottom: -9px;
  }

  .dayAndHour p {
    font-size: 1rem;
    margin-top: 2px;
  }

  .imgCalendar img {
    max-width: 120px;
  }
}
